@model RealState.Models.Enajenante

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Enajenante</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="Rut" class="control-label"></label>
                <input asp-for="Rut" class="form-control" />
                <span asp-validation-for="Rut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Percentage_right" class="control-label"></label>
                <input asp-for="Percentage_right" class="form-control" />
                <span asp-validation-for="Percentage_right" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Check_percentage_not_credited" class="control-label"></label>
                <input asp-for="Check_percentage_not_credited" class="form-control" />
                <span asp-validation-for="Check_percentage_not_credited" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

